[Unit]
Description=RARP Receiver Service
After=network.target

[Service]
EnvironmentFile=/etc/default/rarp_receiver
ExecStart=/usr/bin/rarp_receiver $INTERFACE
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
